* {
	margin:  0;
	padding: 0;
}
.logo {
	height: 40px;
	margin-right: 50px;
}
.footer {
	padding-top: 10px;
	width: 100%;
	text-align: center;
	background-color: #343a40;
	margin-bottom: 0;
    clear: both;
    position: relative;
    margin-top: -0px;
    color : white;
}
.phoneNumber {
	color: lightpink;
	font-size: 30px;
}
.row {
	margin: 0;
}
.content {
	padding-top: 40px;
	padding-bottom: 40px;
	width: 80%;
	margin-left: 10%;
}
.info-box {
	padding: 5px;
}