* {
	margin:  0;
	padding: 0;
}
.logo {
	height: 40px;
	margin-right: 50px;
}
.footer {
	padding-top: 10px;
	width: 100%;
	text-align: center;
	background-color: #343a40;
	margin-bottom: 0;
    clear: both;
    position: relative;
    margin-top: -0px;
    color : white;
}
.phoneNumber {
	color: lightpink;
	font-size: 30px;
}
.row {
	margin: 0;
}
.content {
	background-image: url('../images/transport.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.info1 {
	padding-top: 50px;
	width: 100%;
	min-height: 700px;
}
.info1box {
	box-shadow: 0 5px 10px grey;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: rgba(218, 236, 239, 0.78);
	margin-top: 20px;
	color: black;
	font-size: 25px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.intro-box {
	padding-left: 15px;
}