* {
	margin:  0;
	padding: 0;
}
.logo {
	height: 40px;
	margin-right: 50px;
}
.footer {
	padding-top: 10px;
	width: 100%;
	text-align: center;
	background-color: #343a40;
	margin-bottom: 0;
    clear: both;
    position: relative;
    margin-top: -0px;
    color : white;
}
.phoneNumber {
	color: lightpink;
	font-size: 30px;
}
.row {
	margin: 0;
}
.col-md-6 {
	padding-left: 0;
	padding-right: 0;
}
.price-box {
	text-align: center;
}
.content {
	background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #ffdde1, #ee9ca7);
    background: -o-linear-gradient(left, #ffdde1, #ee9ca7);
    background: linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
table td {
	padding-left: 10px;
	font-size: 16px;
	font-style: italic;
}
table th{
	font-size: 25px;
	color: #759a51a1;
	text-align: center;
}
table tr {
	height: 30px;
}
table tr:hover {
	background-color: #59e6512e;
}
table {
	margin-top: 10px;
	margin-bottom: 90px;
	width: 100%;
	border-radius: 7px;
	background-color: white;
}
table:hover {
	box-shadow: 0 5px 10px grey;
}
.price-box h2 {
	color: #759a51a1;

}